.intro-container {
  text-align: center;
  height: 100vh;
  background: white;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .intro-container {
    width: 100vw;
  }
  .intro-container .intro-logo {
    margin-top: 2vh;
    height: 18vh;
  }
  .intro-container .intro-monster-ball {
    left: 15%;
    top: 53%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1030px) {
  .intro-container {
    width: 1030px;
    background: white;
  }
  .intro-container .intro-logo {
    margin-top: 2vh;
    width: 500px;
    height: 200px;
  }
  .intro-container .intro-monster-ball {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-right: 600px;
  }
}

.intro-container .intro-monster-ball {
  position: absolute;
  height: 6vh;
}

.intro-container .intro-logo-desc {
  height: 8vh;
  margin: 5vh 0;
}

.intro-container .intro-running {
  height: 30vh;
}
.intro-container .intro-running-container {
  z-index: 1;
}

.intro-container .intro-shadow {
  height: 5vh;
  position: relative;
  margin-top: -20px;
  z-index: -999;
}

.intro-container .intro-start-btn {
  width: 30vw;
  height: 7vh;
  font-size: 20px;
  margin-top: 10vh;
}
