.PokedexPage {

  .pokemon-list {
    width: 85vw;
    height: 81vh;
    margin: 1.5rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.1rem solid;
    border-color: #9B9B9B;
    overflow-wrap: normal;
  }

  .pokemon-item {
    display: grid;
    justify-content: center;
    margin: 0.25rem auto;
    padding: 0.05rem 0.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.5vh;
    height: 23.07vh;
    border: 0.1rem solid;
    border-color: #9B9B9B;
    border-radius: 0.5rem;
  }

  .pokemon-title {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0.2rem 0;
    transform: translateX(-3px);
    width: 100%;
    font-size: 0.014vh;
    font-weight: 600;
  }

  .pokemon-title p {
    margin: 0;
    padding: 0;
    transform: scale(0.7);
  }

  .pokemon-num {
    height: 0.9rem;
    margin: 0 0.3rem 0 0;
    padding: 0.05rem 0.15rem;
    background-color: #9B9B9B;
    border-radius: 0.8rem;
  }

  .pokemon-name {
    height: 0.9rem;
    padding: 0rem 0.1rem 0.06rem;
    background-color: #9B9B9B;
    border-radius: 0.8rem;
  }

  .pokemon-img {
    margin:  1.68vh 0 0.72vh;
    padding: 0.24rem;
    width: 12.67vh;
    border-radius: 0.8rem;
  }

  .pokemon-copyright {
    text-align: end;
    font-size: 0.014vh;
    font-weight: 500;
    transform: translateX(8px);
  }

  .pokemon-copyright > p {
    margin: 0 0 0.72vh;
    transform: scale(0.8);
  }

  .empty-grid-item {
    width: 6.25rem;
    height: 9.92rem;
    margin: 0.25rem auto;
  }

  h1 {
    text-align: center;
  }

  button {
    width: 3.5rem;
  }

  .prev-btn {
    margin: 0 auto 0 0.25rem;
  }

  .next-btn {
    margin: 0 0.25rem 0 auto;
  }
  
}
