.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-container p {
  margin: 5rem auto;
  font-weight: 600;
  font-size: 20px;
}



@media (max-width: 1030px) {
  .crying-pikachu {
    width: 80vw;
    margin: 2rem auto;
  }
}

@media (min-width: 1030px) {
  .crying-pikachu {
    width: 500px;
    margin: 2rem auto;
  }
}
