.SupportPage {
  p {
    margin: 0.5rem 0;
    padding: 0 0.1rem;
    font-size: 18px;
    font-weight: 600;
  }

  span {
    margin: 0.2rem 0;
  }

  label {
    padding: 0 0.1rem;
  }

  select, input {
    width: 96%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: dark;
  }
  input {
    margin-top: 15px;
  }

  select {
    width: 40%;
  }

  input:focus, select:focus {
    border-color: #005FC6;
  }

  input::placeholder {
    font-size: 16px;
  }

  .header {
    font-size: 30px;
    text-align: center;
  }

  .sub-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .token {
    font-weight: 700;
    color:#005FC6;
  }

  .form-item {
    padding: 0.3rem;
    margin: 1rem 0.5rem;
  }

  .form-item-title {
    margin: 0.7rem 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.2rem;
  }

  .asterisk {
    color: #FF0000;
  }

  textarea {
    width: 96%;
  }
  textarea::placeholder {
    font-size: 16px;
  }

  .feedback-input:focus {
    border: solid 2px #005FC6;
  }

  .buttons {
    display: flex;
    justify-content: center;

  }

  .cancel-button {
    background-color: #AA2C2C;
    width: 70px;
    height: 40px;
  }

  .submit-button {
    width: 70px;
    height: 40px;
  }

  .cancel-button:hover {
    background-color: #c45c5c;
  }

  .submit-button {
    background-color: #005FC6;
  }

  .submit-button:hover {
    background-color: #4784c5;
  }

  select option[value=""][disabled] {
    display: none;
  }
}
