.Cardgame {
  text-align: center;

  @media (max-width: 1030px) {
    .header-picachu {
      height: 6vh;
      margin: 0 15px;
    }
    .cardgame-header span {
      font-size: 25px;
    }
    .cardgame-header {
      line-height: 7vh; 
      margin-top: 2vh;
    }
    .cardgame-main-container {
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .cardgame-desc {
      line-height: 35px;
      margin: 6vh 0 5vh 0;
    }
    
  }
  @media (min-width: 1030px) {
    .header-picachu {
      height: 7vh;
      margin: 0 15px;
    }
    .cardgame-header span {
      font-size: 30px;
    }
    .cardgame-header {
      line-height: 10vh; 
    }
    .cardgame-main-container {
      display:flex;
      justify-content: center;
    }
    .cardgame-desc {
      line-height: 35px;
      margin: 15vh 0 5vh 0;
    }
  }
  .header-picachu {
    vertical-align: middle;
  }

  .cardgame-header span {
    font-weight: bolder;
    vertical-align: middle;
  }
  .cardgame-header {
    text-align: center;
    vertical-align: middle;
  }
  .cardgame-main-container {
    display:flex;
  }
  .cardgame-desc {
    font-size: 20px;
    font-weight: bold;
    white-space: pre-wrap;
    text-align: center;
  }

  .re-btn {
    width: auto;
    height: 40px;
  }

}