.LoginDialog {
  @media (max-width: 1030px) {
    input {
      width: 65vw;
      height: 40px;
    }

    .login-btn {
      height: 40px;
      margin: 3vh 0 2vh 0;
      width: calc(65vw + 12px);
    }
  }
  @media (min-width: 1030px) {
    input {
      width: 400px;
      height: 40px;
    }

    .login-btn {
      height: 40px;
      margin: 3vh 0 2vh 0;
      width: 412px;
    }
  }

  input {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    font-size: 17px;
  }

  input::placeholder {
    color: #A7A7A7;
    font-size: 17px;
  }

  .login-logo {
    margin: 4vh 0;
    height: 12vh;
  }

  .to-signup {
    cursor: pointer;
    color: #A7A7A7;
    font-size: 14px;
    display:inline-block;
  }

  .to-signup:hover {
    color: black;
  }

  .login-btn {
    height: 40px;
    margin: 3vh 0 2vh 0;
  }

}