body {
  background: #EBEBEB;
}

/* Link text 데코 없애기 */
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.App {
  text-align: center;
}

/* 모바일 버전 */
@media (max-width: 1030px) {
  .container {
    margin: 0 auto;
    height: 94vh;
    position: absolute;
    width: 100vw;
    background: white;
  }
}

/* pc버전일때 */
@media (min-width:1030px) {
  .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 94vh;
    width: 1030px;
    background: white;
  }
}
